body {
    font-family:Tahoma;
    background-color: #d9ebed;
}

.Tittel {
    font-weight: bold;
    color: #f3f350;
    background-color: #329bb5;
    border-radius: 19px;text-align: center;
}

.filmListe {
    border-radius: 4px;
    color: #8a11c3;
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-label {
    border-radius: 4px;
    color: #8a11c3;
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: bold;
}

.feilmelding {
    color: #ff0202;
    background-color: yellow;
}

.film,
.antall,
.fornavn,
.etternavn,
.telefonnr,
.epost,
.status {
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.table th {
    color: #aa3d3d;
    font-size: 16px;
}

.form-control {
    font-weight:bolder ;
    font-size: 20px;
    border-radius: 15px;
}

